@import url("styles/themes/theme-lucy.min.css");
.factory-flag{ visibility: hidden; }
  .animation-wrapper {
    width: 50%;
    position:absolute;
    z-index: -999;
    align-items: center;
  }
  
  .sphere-animation {
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  .sphere path {
    fill: url(#sphereGradient);
    stroke-width: 1px;
    stroke: rgba(32, 27, 27, 0);
    backface-visibility: hidden;
  }
  
  @media (min-width: 500px) {
    .sphere path {
      stroke-width: .4px;
    }
  }